/*@media (max-width: 1200px) {
	.box1,
	.box2 {
		width: 300px;
	}
}


@media (max-width: 768px) {
	.box1,
	.box2 {
		width: 150px;
	}
}*/

/*@media (max-width: 1200px) {
	.box1 {
		margin-bottom: 30px;
	}
}*/


@media (max-width: 1080px) {
/*	.image-wraper   {
		flex-direction: column;
		align-items: center;
	}*/
	.image-box {
		width: 48%;
	}

	.image-box img {
		width: 100%;
	}
}
@media (max-width: 1025px) {
	/*.video-wraper {
		flex-wrap: wrap;
		justify-content: center;	
	}*/
	.video-wraper {
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.image-box {
		width: 100%;
	}
	.nav-li:not(.active) {
		display: none;
	}
/*	.navigation {
		display: none;
	}*/
	.burger-icon  {
		display: block;
	}
	.logo {
		margin-left: 0;
	}
	.image-box:not(.active-image) {
		display: none;
	}
}